
 <form action="@Url.Content("~/Result/Overview")" method="post">
     <div class="c-field has-icon-right c-navbar__search u-hidden-down@tablet u-ml-auto u-mr-small">
         <button class="c-field__icon" style="border: none; background-color: transparent;">
             <i class="fa fa-search"></i>
         </button>

         <label class="u-hidden-visually" for="navbar-search">http://example.com/</label>
         <input class="c-input" id="navbar-search" name="target" type="text" placeholder="https://mrtkr.io/">
     </div>
 </form>